html,body{
	height: 100%;
	width: 100%;
    margin: 0;
}
.upper{
	height: 250px;
	width: 100%;
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1500' height='600' preserveAspectRatio='none' viewBox='0 0 1500 600'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1103%26quot%3b)' fill='none'%3e%3crect width='1500' height='600' x='0' y='0' fill='rgba(99%2c 219%2c 170%2c 1)'%3e%3c/rect%3e%3cpath d='M 0%2c39 C 75%2c81.4 225%2c253.4 375%2c251 C 525%2c248.6 600%2c32.2 750%2c27 C 900%2c21.8 975%2c220.4 1125%2c225 C 1275%2c229.6 1425%2c85 1500%2c50L1500 600L0 600z' fill='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/path%3e%3cpath d='M 0%2c343 C 27.4%2c393 82.2%2c571.8 137%2c593 C 191.8%2c614.2 219.2%2c471 274%2c449 C 328.8%2c427 356.2%2c512 411%2c483 C 465.8%2c454 493.2%2c283.4 548%2c304 C 602.8%2c324.6 630.2%2c557.4 685%2c586 C 739.8%2c614.6 767.2%2c460 822%2c447 C 876.8%2c434 904.2%2c549 959%2c521 C 1013.8%2c493 1041.2%2c303.2 1096%2c307 C 1150.8%2c310.8 1178.2%2c515.8 1233%2c540 C 1287.8%2c564.2 1316.6%2c419 1370%2c428 C 1423.4%2c437 1474%2c553.6 1500%2c585L1500 600L0 600z' fill='rgba(0%2c 2%2c 1%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1103'%3e%3crect width='1500' height='600' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");

}
.center img {
	border:2px solid #999; 
	 border-radius:200px;
	 width: 250px;
	 height: 250px;
	 margin-left: 600px;
	 margin-top: -200px;
}
.center{
	height: 200px;
	width: 100%;
	background-color: black;



}
.footer {
	height: 290px;
	width:100%;
	position: absolute;
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1500' height='300' preserveAspectRatio='none' viewBox='0 0 1500 300'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1076%26quot%3b)' fill='none'%3e%3crect width='1500' height='300' x='0' y='0' fill='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/rect%3e%3cpath d='M 0%2c67 C 75%2c70 225%2c83 375%2c82 C 525%2c81 600%2c54.8 750%2c62 C 900%2c69.2 975%2c123.8 1125%2c118 C 1275%2c112.2 1425%2c50 1500%2c33L1500 300L0 300z' fill='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/path%3e%3cpath d='M 0%2c273 C 50%2c255.6 150%2c184.6 250%2c186 C 350%2c187.4 400%2c281.6 500%2c280 C 600%2c278.4 650%2c186 750%2c178 C 850%2c170 900%2c234.2 1000%2c240 C 1100%2c245.8 1150%2c200.6 1250%2c207 C 1350%2c213.4 1450%2c259 1500%2c272L1500 300L0 300z' fill='rgba(99%2c 219%2c 170%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1076'%3e%3crect width='1500' height='300' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");

}
.footer a img {
	margin-left: 500px;
	position: relative;
	height: 70px;
}
.footer-ig a img {
	margin-left: 600px;
	height: 70px;
	position: relative;
	left: 50px;
	bottom: 70px;

}
.footer-linkedin a img {
	margin-left: 800px;
	height: 70px;
	position: relative;
	left: 25px;
	bottom: 142px;
}
@media screen and (max-width: 400px)
{
	.center img{
		position: relative;
		left: -30%;
		top: 60px;
		width: 250px;

}
	.center {
		width: 250%;
		height: 150px;
		background-color: black;



	}	
	.footer a img {
		position: absolute;
		left: 5%;
		top: 15px;
		bottom: 95px;
	}
	.footer-ig a img{
		position: absolute;
		left: -35%;
		top: 15px;
		bottom: 95px;
	}
	.footer-linkedin a img{
		position: absolute;
		left: -40%;
		top: 15px;
		bottom:95px;

	}
	.upper{
		width: 250%;
		height: 200px;
		background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1500' height='400' preserveAspectRatio='none' viewBox='0 0 1500 400'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1081%26quot%3b)' fill='none'%3e%3crect width='1500' height='400' x='0' y='0' fill='rgba(99%2c 219%2c 170%2c 1)'%3e%3c/rect%3e%3cpath d='M 0%2c6 C 50%2c33.8 150%2c132.6 250%2c145 C 350%2c157.4 400%2c59 500%2c68 C 600%2c77 650%2c196.6 750%2c190 C 850%2c183.4 900%2c49.8 1000%2c35 C 1100%2c20.2 1150%2c115.6 1250%2c116 C 1350%2c116.4 1450%2c52.8 1500%2c37L1500 400L0 400z' fill='rgba(0%2c 3%2c 2%2c 1)'%3e%3c/path%3e%3cpath d='M 0%2c360 C 27.4%2c337.8 82.2%2c251 137%2c249 C 191.8%2c247 219.2%2c346.8 274%2c350 C 328.8%2c353.2 356.2%2c256.2 411%2c265 C 465.8%2c273.8 493.2%2c393.2 548%2c394 C 602.8%2c394.8 630.2%2c276.8 685%2c269 C 739.8%2c261.2 767.2%2c360.4 822%2c355 C 876.8%2c349.6 904.2%2c248.4 959%2c242 C 1013.8%2c235.6 1041.2%2c331 1096%2c323 C 1150.8%2c315 1178.2%2c205.2 1233%2c202 C 1287.8%2c198.8 1316.6%2c301.4 1370%2c307 C 1423.4%2c312.6 1474%2c245.4 1500%2c230L1500 400L0 400z' fill='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1081'%3e%3crect width='1500' height='400' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");

 
	}
	.footer{
		width: 250%;
		height: 210px;
		background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1500' height='400' preserveAspectRatio='none' viewBox='0 0 1500 400'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1071%26quot%3b)' fill='none'%3e%3crect width='1500' height='400' x='0' y='0' fill='rgba(0%2c 2%2c 1%2c 1)'%3e%3c/rect%3e%3cpath d='M 0%2c192 C 50%2c171.2 150%2c94.8 250%2c88 C 350%2c81.2 400%2c160.4 500%2c158 C 600%2c155.6 650%2c75.8 750%2c76 C 850%2c76.2 900%2c157.6 1000%2c159 C 1100%2c160.4 1150%2c82.8 1250%2c83 C 1350%2c83.2 1450%2c144.6 1500%2c160L1500 400L0 400z' fill='rgba(99%2c 219%2c 170%2c 1)'%3e%3c/path%3e%3cpath d='M 0%2c334 C 33.4%2c310.8 100.2%2c220.6 167%2c218 C 233.8%2c215.4 267.2%2c311.4 334%2c321 C 400.8%2c330.6 434.2%2c266 501%2c266 C 567.8%2c266 601.2%2c322.2 668%2c321 C 734.8%2c319.8 768.2%2c249.2 835%2c260 C 901.8%2c270.8 935.2%2c376.8 1002%2c375 C 1068.8%2c373.2 1102.2%2c263.6 1169%2c251 C 1235.8%2c238.4 1269.8%2c312.8 1336%2c312 C 1402.2%2c311.2 1467.2%2c260 1500%2c247L1500 400L0 400z' fill='rgba(5%2c 12%2c 9%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1071'%3e%3crect width='1500' height='400' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
	}
	html,body{
		width: 100%;
		height: 100%;
		margin: 0px;
	}

}
